body {
  font-family: "Karla", "sans-serif";
  margin: 0;
}

.main-dashboard {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #29daf2;
  color: white;
  padding: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

.individual-project {
  width: 30%;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 10px;
}

.individual-project--employee-names {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.individual-project--employee-names:hover {
  color: #29daf2;
}

.individual-project--client-names {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
}

.individual-project--client-names:hover {
  color: #29daf2;
}

.employee-page {
  display: flex;
  flex-direction: column;
}

.employee-page--image {
  width: 200px;
  height: 200px;
}

.employee-page--container {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.employee-page--list {
  list-style-type: none;
  margin: 0 auto;
  width: 50%;
  text-align: left;
}

.employee-page--list-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
